html{
    height: 100%;
}

body{
    background-color: #FC5E55;
    font-family: 'Roboto', sans-serif;
    color: white;

}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
main{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card1{
    background-image:url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}
.card2{
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}
.card3{
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
} 
.card1, .card2, .card3{
    padding: 60px 30px 20px 30px;
    box-sizing: border-box;
}
.herobox1{
    flex: 2;
    padding-right: 100px;
}
.herobox2{
    
    flex: 1;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 20px;

}
p{
    line-height: 1.80rem;
    margin-bottom: 0.5rem;
}
.salto{
    margin-bottom: 0.5rem;
}
.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}
.mybutton{
    background-color: white;
    color: #FC5E55;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
}