body{
    background-image: linear-gradient(red, yellow);
}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
main{
    min-height: 300px;
    display: flex;
    align-items: center;
}
.cards{
    background-color: grey;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
}

.card1{
    background-color: rgb(26, 26, 63);
    min-height: 300px;
    width: 30%;
}
.card2{
    background-color: rgb(2, 19, 2);
    min-height: 300px;
    width: 30%;
}
.card3{
    background-color: rgb(43, 3, 3);
    min-height: 300px;
    width: 30%;
}
.herobox1{
    flex: 2;
}
.herobox2{
    
    flex: 1;
}